{% extends "tools/base.html" %}
{% load static %}


{% block title %}
ABOUT | VidMIX
{% endblock %}


{% block content %}

{% include 'tools/header.html' %}

<!-- ABOUT CONTENT -->
<div class="row justify-content-center mt-5">
  <div class="col-xl-5 col-lg-6 col-md-7 col-sm-9 col-10 text-center text-muted font-weight-bolder h5">
    Trim videos into smaller snippets and replace,<br> delete audio for unwanted parts. You can again combine the
    trimmed clips to form video.
    <br><br>
    Cut longer videos into smaller snippets, delete unwanted parts and only keep what you like. You can also
    combine multiple clips into 1 longer video.
    <br><br>
    This Tool help you build change your video efficiently and easily. <br><br>
    Hope You Enjoy!!
  </div>
</div>

{% endblock %}