<!-- FOOTER CONTENT -->
<footer class="footer bg-light">
  <div class="container footer-copyright text-muted text-center">
    © 2020 <a href="{% url 'home' %}"> VidMIX.com </a> | Terms of Use | Privacy Policy
    <a class="tw-ic mx-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
    <a class="gplus-ic mr-3" role="button"><i class="fab fa-lg fa-google-plus-g"></i></a>
    <a class="li-ic mr-3" role="button"><i class="fab fa-lg fa-linkedin-in"></i></a>
    <a class="so-ic mr-3" role="button"><i class="fab fa-lg fa-stack-overflow"></i></a>
    <a class="slack-ic mr-3" role="button"><i class="fab fa-lg fa-slack-hash"></i></a>
    <a class="git-ic mr-3" href="https://github.com/dssudake" role="button" target="_blank">
      <i class="fab fa-lg fa-github"></i></a>
  </div>
</footer>