<!-- HELP Modal -->
<div class="modal fade" id="HelpModal" tabindex="-1" role="dialog" aria-labelledby="HelpModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- bg-dark text-white -->
      <div class="modal-header">
        <h5 class="modal-title" id="HelpModalTitle">HELP : How to Edit ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Dashboard features : <br>
        1 . Single click for listening Audio. <br>
        2 . Double Click for audio change form. <br>
        3 . Click Info [ <i class="fas fa-info"></i> ] button for more information. <br>
        4 . Click Info [ <i class="fas fa-question-circle"></i> ] button for more Help. <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Audio Replace Modal -->
<div class="modal fade" id="audioUpload" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content ">
      <form ng-controller="formCtrl">
        <div class="modal-header ">
          <h5 class="modal-title" id="exampleModalLongTitle">CHANGE AUDIO</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-3 pt-4">
          <div class="form-group pb-2">
            <p class="h5 text-center">Audio</p>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="replace.subtitle" placeholder="Subtitle text ..."
              id="recipient-name">
          </div>
          <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" file-model="replace.audio" id="changeAudio" name="myfile" accept="audio/*">
            <label id="changeAudioLabel" class="custom-file-label" for="changeAudio">Choose file</label>
          </div>
          <div>
            <p><!-- {$ object.read $} --></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          <button type="button" ng-click="submit($event)" class="btn btn-outline-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>